* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: #000;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  flex-wrap: wrap;
}

.container .box {
  font-family: monospace;
  position: relative;
  height: 400px;
  width: 320px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 30px;
  transition: 0.5s;
}

.container .box:hover {
  transform: translateY(-20px);
}
.container .box::before,
.container .box::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, #4dff03, #00d0ff);
}

.container .box::after {
  filter: blur(30px);
}

.container .box label {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  z-index: 2;
  background: rgba(0, 0, 0, 0.3);
}

.container .box label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}
.container .box .content {
  position: relative;
  z-index: 1;
  padding: 20px;
}

.container .box .content i {
  font-style: inherit;
  font-size: 18px;
  font-weight: normal;
}

.container .box .content h2.main-title {
  color: darkblue;
  font-size: 2em;
  margin-bottom: 10px;
}

.container .box .content p {
  color: darkblue;
  font-weight: bold;
  margin-bottom: 12px;
  border-bottom: 2px solid white;
  padding: 12px 0;
}

section {
  /* height: 100vh; */
}

h2.bday__text {
  color: #fff;
  transition: 0.5s;
  display: none;
}

h2.bday__text.show {
  display: block;
}

span {
  position: absolute;
  pointer-events: none;
  background: #fff;
  animation: animate 1s linear infinite;
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0deg);
    opacity: 0;
  }

  10% {
    opacity: 0.4;
  }

  90% {
    opacity: 0.8;
  }

  100% {
    transform: scale(1) translateY(-500%) rotate(360deg);
    opacity: 1;
  }
}

.face:before {
  content: "";
  position: absolute;
  top: 165px;
  width: 120px;
  height: 20px;
  background: #9d0b00;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background: #b57700;
  transition: 0.5s;
}

.face:hover:before {
  width: 120px;
  height: 55px;
  top: 150px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  background: #b57700;
}

.face {
  position: relative;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  /* background: #ffcd00; */
  background: linear-gradient(1800deg, #f44336, #ffcd00);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.face:hover {
  /* background: linear-gradient(1800deg, #f44336, #ffcd00); */
  background: #ffcd00;
}

.face .eyes {
  position: relative;
  top: -40px;
  display: flex;
  flex-wrap: wrap;
}

.face .eyes .eye {
  position: relative;
  width: 60px;
  height: 60px;
  display: block;
  margin: 0 15px;
  background: #fff;
  border-radius: 50px;
}

.face .eyes .eye:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  background: #333;
  border-radius: 50%;
}

#game {
  height: 450px;
  background: #000;
  width: 450px;
  border: 1px solid white;
  position: relative;
  display: flex;
}

#game label {
  color: #fff;
  position: relative;
  top: 5px;
}

#game .moon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 8px 10px 5px -2px aliceblue;
  /*transform: rotateY(-180deg);*/
  position: absolute;
  top: 70px;
  left: 125px;
  z-index: 1;
}

#game hr.rope {
  opacity: 0;
  margin: 0;
  height: 265px;
  position: relative;
  left: 134px;
  transition: opacity 1s ease-in;
  top: 115px;
}

#game input[type="checkbox"] {
  transform: scale(2) translate(5px, 3px);
  cursor: pointer;
}

#game > span {
  opacity: 0;
}

#game > span:after {
  content: "\2605";
  position: absolute;
  color: #fff;
  text-shadow: 1px 1px deepskyblue;
  font-size: 24px;
}

#game > span:nth-child(1) {
  top: 120px;
  position: relative;
  left: 20px;
  opacity: 0;
  /*-webkit-animation: stars 2s infinite linear, 3s linear;*/
  -webkit-animation: blink 1s linear infinite;
  animation: blink 1s linear infinite;
  -moz-animation: blink 1s linear infinite;
  transition: opacity 1s linear;
}

#game > span:nth-child(2) {
  top: 66px;
  left: 364px;
  position: relative;
  opacity: 0;
  /*-webkit-animation: stars 2s infinite linear, 3s linear;*/
  -webkit-animation: blink 1s linear infinite;
  animation: blink 1s linear infinite;
  -moz-animation: blink 1s linear infinite;
  transition: opacity 1s linear;
}

#game > span:nth-child(3) {
  top: 121px;
  left: 280px;
  position: relative;
  /*-webkit-animation: stars 2s infinite linear, 3s linear;*/
  -webkit-animation: blink 1s linear infinite;
  animation: blink 1s linear infinite;
  -moz-animation: blink 1s linear infinite;
  transition: opacity 1s linear;
  opacity: 0;
}

#game > span:nth-child(4) {
  top: 161px;
  left: 310px;
  position: relative;
  opacity: 0;
  /*-webkit-animation: stars 2s infinite linear, 3s linear;*/
  -webkit-animation: blink 1s linear infinite;
  animation: blink 1s linear infinite;
  -moz-animation: blink 1s linear infinite;
  transition: opacity 1s linear;
}

#game > span:nth-child(5) {
  top: 96px;
  left: 211px;
  position: relative;
  opacity: 0;
  /*-webkit-animation: stars 2s infinite linear, 3s linear;*/
  -webkit-animation: blink 1s linear infinite;
  animation: blink 1s linear infinite;
  -moz-animation: blink 1s linear infinite;
  transition: opacity 1s linear;
}

#game > span:nth-child(6) {
  top: 168px;
  left: 155px;
  position: relative;
  opacity: 0;
  /*-webkit-animation: stars 2s infinite linear, 3s linear;*/
  -webkit-animation: blink 1s linear infinite;
  animation: blink 1s linear infinite;
  -moz-animation: blink 1s linear infinite;
  transition: opacity 1s linear;
}

#game > span:nth-child(7) {
  top: 60px;
  left: 125px;
  position: relative;
  opacity: 0;
  /*-webkit-animation: stars 2s infinite linear, 3s linear;*/
  -webkit-animation: blink 1s linear infinite;
  animation: blink 1s linear infinite;
  -moz-animation: blink 1s linear infinite;
  transition: opacity 1s linear;
}

#game .bday_wish {
  line-height: 2.7rem;
  position: absolute;
  right: 0;
  top: 200px;
  transition: opacity 2s ease-in;
  text-shadow: 1px 1px 2px #ffc107, 13px 17px 32px #00bcd4, 3px 7px 5px #00bcd4,
    3px -3px 4px greenyellow;
  font-size: 2rem;
  opacity: 0;
}

label.bday_wish > h5.name {
  display: inline-block;
  font-weight: 500;
  animation: wave 1s ease-in-out infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes wave {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(20px);
  }
  40%,100% {
    transform: translateY(0px);
  }
}

#player {
  position: absolute;
  bottom: 0;
}

#player img {
  filter: invert(1);
}

.hang {
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-animation: hang 3.5s ease-in-out forwards infinite;
  animation: hang 3.5s ease-in-out forwards infinite;
  left: 110px !important;
}

@-webkit-keyframes hang {
  0% {
    -webkit-transform: rotate(20deg);
  }

  50% {
    -webkit-transform: rotate(-10deg);
  }

  100% {
    -webkit-transform: rotate(20deg);
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 0.2;
  }

  20% {
    opacity: 0.6;
  }

  40% {
    opacity: 1;
  }

  60% {
    opacity: 0.8;
  }

  80% {
    opacity: 0.4;
  }

  100% {
    opacity: 0.2;
  }
}

.swirl {
  animation: swirl 1s ease-in-out infinite;
  -webkit-animation: swirl 1s ease-in-out infinite;
  -moz-animation: swirl 1s ease-in-out infinite;
}

@-webkit-keyframes swirl {
  0% {
    transform: skewY(10deg);
  }

  100% {
    transform: perspective(10px);
  }
}

@media (max-width: 449px) {
  #game {
    width: 100%;
  }
}
.space-evenly {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

@media (max-width: 600px) {
  .space-evenly {
    flex-direction: column;
  }
  #game {
    margin-top: 20px;
  }
}
